<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= display_meta_tags default_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/assets/images/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/assets/images/favicon.ico">
    <%= stylesheet_link_tag 'application', :media => 'all' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
